body {
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.title {
  color: #5680e9;
}

section.home {
  color: #8860d0;
}

section.home-meals {
  color: #5ab9ea;
}

section.reservation {
  color:purple;
}

.header, .footer {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #84ceeb;
  color: white;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}
