section.content {
  padding: 10vh 10vw;
}

.title {
  color: #5680e9;
}

section.home {
  color: #8860d0;
}

section.home-meals {
  color: #5680e9;
}

section.reservation {
  color: purple;
}

.header,
.footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: #84ceeb;
  color: white;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.footer img {
  height: 100%;
}